<div class="contentContainer">
<h2 class="title"><%= @user.name %>のページ</h2>

<p class="pb10">メールアドレス: <%= @user.email %></p>
<p class="pb10">性別: <%= @user.sex %></p>
<p class="pb10">誕生日 <%= @user.birth %></p>
</div>