/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x:hidden;
}

body {
  line-height: 1;
}

@media screen and (min-width: 1680px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 1180px) {
  html {
    font-size: 50%;
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

div, p, section, footer, header, nav, aside {
  font-size: 1.4rem;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.noMarker {
  list-style: none;
}

.table td, .table th {
  padding: 8px;
}

.table td.price {
  text-align: right;
}

.table_border td, .table_border th {
  border: 1px solid #888;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.timeselect .left {
  padding-right: 10px;
}

h2.title, h3.title {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

.field_with_errors {
  padding: 10px;
  background-color: rgba(255,88,88,0.3);
}

#error_explanation {
  border: 1px dashed #ddd;
  margin-bottom: 20px;
  padding: 8px;
}

#error_explanation ul {
  padding-left: 20px;
  margin-top: 6px;
}

/* ----------------------------- */
/* header */
/* ----------------------------- */
.header {
  background-color: #83a7c8;
  height: 75px;
  width: 100%;
}

.header .title {
  color: white;
  font-size: 24px;
  padding-top: 26px;
  padding-left: 40px;
}

.header .headerLeft {
  width: 70%;
}

.header .headerRight {
  position: absolute;
  right: 0;
}

.userbtn {
  position: relative;
  width: 210px;
  height: 75px;
  padding-top: 12px;
  padding-left: 75px;
}

.menuicon {
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  color: #83a7c8;
  text-align: center;
  padding-top: 5px;
}

.menu {
  display: none;
  position: absolute;
  top: 75px;
  right: 10px;
  width: 200px;
  border: 1px solid #ddd;
  background-color: rgba(255,255,255,1);
  box-shadow: 0px 2px 4px rgba(0,0,0,0.075);
  padding: 4px;
  z-index: 9999;
  text-align: center;
  border-radius: 4px;
}

.menu:hover {
  display: block;
}

.menuitem {
  padding: 10px;
}

.menuitem a {
  text-decoration: none;
}

.bottomline {
  border-bottom: 1px solid #ddd;
}

.menu:before{
	content: "";
	position: absolute;
	top: -19px;
	left: 50%;
 	margin-left: -10px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
}


.userbtn:hover .menu {
  display: block;
}

/* ----------------------------- */
/* left navigation */
/* ----------------------------- */
.content {
  height: 100%;
  min-height: 100%;
  position: relative;
}

.contentLeft {
  width: 250px;
  background-color: white;
  position: absolute;
  height: 100%;
  z-index: 200;
  border-right: solid 1px #dadada;
}

.contentRight {
  width: 100%;
  padding-left: 250px;
  position: relative;
  z-index: 100;
}

.contentContainer {
  padding: 20px;
  position: relative;
}

.leftNavi {
  height: 100%;
  width: 100%;
  text-align: center;
}

.leftNavi ul li {
  padding: 18px;
  border-bottom: 1px dashed #dadada;
  color: #222;
}

.leftNavi ul li:hover {
  background-color: #79baca;
  color: white;
}

/* ----------------------------- */
/* receipt input window */
/* ----------------------------- */
.receiptWindowArea {
  position: absolute;
  right: 0px;
  top: 36px;
}

.receiptWindow {
  position: relative;
  
  right: -32.0rem;
  width: 32.0rem;
  padding: 20px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.075);
  display: block;
  opacity: 0;
  z-index: 8888;
  
  transition: right 400ms ease-out, opacity 300ms ease-out;
}

.receiptWindow.active{
  /*display: none; */
  right: 60px;
  opacity: 1;
}

.addReceiptBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #83a7c8;
  width: 60px;
  height: 60px;
  color: white;
  font-size :50px;
  text-align: center;
  padding-top: 5px;
  z-index:9999;
}


/* ----------------------------- */
/* footer setting */
/* ----------------------------- */
html {
  height: 100%;
}

body {
  height: 100%;
}

.mainContainer {
  min-height: 100%;
  padding-bottom: 60px;
  position: relative;
}

.footer {
  height: 60px;
  background-color: #5d7ea0;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 8999;
}

.footerContainer {
  height: 36px;
}

.copyright {
  background-color: #123452;
  padding: 4px;
  height: 24px;
}
